<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1> For Patients</h1>
            <p class="lead">Click on the orange spots to get info of donors near you </p>
        </div>
        <div class="col-md-6 text-center">
            <h1> For Donors </h1>
            <p class="lead">Chose your location by double-clicking on the map, then press confirm location </p>
        </div>
    </div>
    <div #mapViewNode>
        <div class="loader"></div>

    </div>
</div>

<!-- <div class="container-fluid">
                <h5 class="text-left">  </h5>
                
               </div>
             -->