<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <img class="icons" src="assets/images/patients.png" alt="">

            <h1> For Patients</h1>

            <p class="text-muted">Click on the orange spots to get info of donors near you and then press on show phone and email to contact them</p>
        </div>


        <div class="col-md-6 text-center">
            <img class="icons" src="assets/images/donors.png" alt="">

            <h1> For Donors</h1>

            <p class="text-muted">Chose your location by double-clicking on the map, then press confirm location </p>
        </div>



        <!-- <div class="col-md-6 text-center">
            <h1> For Donors</h1>
            <div class="row">
                <div class="col-md-6">
                    <p class="lead">Chose your location by double-clicking on the map, then press confirm location </p>
                </div>
                <div class="col-md-6">
                    <img class="icons image-responsive" src="assets/images/donors.png" alt="">
                </div>
            </div>
            
        </div> -->


    </div>
    <div #mapViewNode>
        <div class="loader"></div>

    </div>
</div>

<!-- <div class="container-fluid">
                <h5 class="text-left">  </h5>
                
               </div>
             -->