<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"> <img src="../assets/images/logo-gray.png" class="pull-right footer__logo"> </div>
            <div class="col-sm-9">
                <ul class="list-inline list-inline--theme1">
                    <li><a href="help.html">help</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="blog.html">blog</a></li>
                    <li><a href="careers.html">careers</a></li>
                    <li><a href="site.html">site directory</a></li>
                    <li><a href="company.html">company</a></li>
                    <li><a href="cooki.html"e>cookie policy</a></li>
                    <li><a href="copyright.html">copyrigh policy</a></li>
                </ul>
                <div class="row">
                    <div class=col-sm-12>
                        <ul class="list-inline list-inline--theme1">
                            <li><a href="terms.html">terms of use </a></li>
                            <li><a href="privacy.html">privcay statement </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <ul class="list-inline socail-links">
                    <li><a href="help.html"><i class="fa fa-facebook-official"></i></a></li>
                    <li><a href="about.html"><i class="fa fa-twitter"></i> </a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>Copyrights 2016 by <a href=#>SMOOTT <span>PTYLTD </span></a></p>
            </div>
        </div>
    </div>
</footer>
