<div id="image">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            <h1> For Patients</h1>
            <p class="lead">In case of any emergency </p>
            <p>Lookup who are near you to privide needed blood </p>
            <div routerLink='/patients' class="btn btn-danger">Lookup</div>
        </div>
        <div class="col-md-6" >
            <h1> For Donors  </h1>
            <p class="lead">Make a difference in others lives </p>
            <p>Now you could easily pick your location and add you your info </p>
            <div routerLink='/donors' class="btn btn-primary">Register</div>
        </div>
    </div>
</div>