.e-schedule.e-scheduleouter {
    font-family: 'dinregular';
}

.e-atc-popup ul li {
    overflow: hidden;
}

.e-schedule .e-horizontalheaderdiv {
    padding-top: 4px;
}

.e-schedule .e-horizontaltimetd {
    vertical-align: middle!important;
    height: 27px;
    overflow: hidden;
    text-align: center!important;
    position: static!important;
}

.e-schedule .e-firstview,
.e-schedule.e-rtl .e-firstview,
.e-schedule .e-lastview {
    border-radius: 0;
}

.e-schedule .e-commonviewbutton:hover,
.e-schedule .e-nextapp:hover,
.e-schedule .e-prevapp:hover,
.e-scheduledialog .e-scheduleclose:hover {
    background: #ECEAEA;
}

.e-schedule .e-viewsdiv {
    margin-right: 8px;
}

.e-schedule .e-commonviewbutton {
    background: #b0b2b4;
    cursor: pointer;
    height: 20px;
    text-align: center;
    margin-top: 15px;
    padding: 7px 10px 5px 10px;
    border-right: none;
    outline: none;
    color: #fff;
}

.e-schedule .e-activeview {
    background: #0085CA;
}

.e-schedule.e-rtl .e-firstview,
.e-schedule .e-lastview {
    border-right: 1px solid #ccc;
}

.e-schedule .e-scheduleheader {
    background: #FFFFFF;
}

.prop-grid {
    .row {
        border-bottom: 1px solid #D7D5D5;
        padding-top: 5px;
        padding-bottom: 5px;
        min-height:41px;
        &:last-child {
            border: 0;
        }
        &:hover {
            border-bottom: 1px solid #ccc;
        }
    }
}

.e-schedule .e-horizontalalternatetd,
.e-schedule .e-horizontaltimetd {
    background-color: #dfe0e0;
}

.e-schedule .e-scheduleheader>td {
    border-color: #EEE1E1;
}

// .e-schedule .e-headerarearow>td {
//     border:0;
// }
// .e-schedule .e-horizontalheaderdiv {
//     background-color: #ccc;
// }
.e-schedule .e-horizontalemptytd {
    border-color: #EEE1E1;
}

.e-dialog>.e-header {
    background: #0085ca;
    color: #fff;
    border: 0;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    font-weight: normal!important;
    font-family: 'dinregular';
    font-size: 15px;
}

.e-dialog.e-dialog-wrap {
    font-family: 'dinregular';
}

.e-button,
.e-btn.e-btn-normal {}

.cancel {}

#ScheduleAppointmentAddEditWindow_wrapper {
    z-index: 10006;
    width: 600px;
    min-width: 200px;
    height: auto;
    min-height: 120px;
    top: 32px !important;
    left: 50% !important;
    margin-left: -300px !important;
    position: absolute;
}

.e-lv .e-list {
    border-bottom: 1px solid #c8c8c8;
    font-size: 12px;
    height: 73px;
}

#Scheduledescription,
#Schedulesubjecttr {
    display: none;
}

.e-resourceheadertext {
    margin-left: 8px !important;
}

// .e-appointment.e-draggable.e-js, .e-monthappointment.e-draggable.e-js {
//     top:6px !important;
// }
.e-workcells.e-childworkcell.e-businesshighlightworkcells,
.e-workcells.e-childworkcell.e-monthcellhighlight {
    padding-top: 6px;
}

.no-bg .icheckbox_square-blue,
.no-bg .iradio_square-blue {
    background: none;
}
