.successAlert{
    background: green !important
}
.errorAlert{
    background: red !important
}

#insertLink-1, #insertImage-1, #fontFamily-1, #fontSize-1, .fr-separator {
    display: none
}

/*.fr-command.fr-btn{
    display: none
}*/
.my-pagination .ngx-pagination .current {
    background: red;
  }


  .hidden {
        display: none;
  }

  /* errors*/
.red{
    color: red
}


/* rating component*/
.star-icon{
    font-size: 20px !important
}