.steps {
    margin: 20px auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    &:before {
        position: absolute;
        content: "";
        left: 130px;
        top: 43px;
        right: 130px;
        height: 6px;
        background: #ccc;
        z-index: -1;
        @include mobile {
            display: none;
        }
    }
    &:after {
        position: absolute;
        content: "";
        left: 130px;
        width: 0;
        top: 43px;
        height: 6px;
        background: green;
        z-index: -1;
        @include mobile {
            display: none;
        }
    }
}

.complete-25 {
    &:after {
        width: 25%;
    }
}

.complete-50 {
    &:after {
        width: 50%;
    }
}

.complete-75 {
    &:after {
        width: 75%;
    }
}

.complete-100 {
    &:after {
        width: 80%;
    }
}

.step {
    width: 25%;
    display: inline-block;
    float: left;
}

.step__number {
    font-weight: bold;
    font-size: 17px;
}

$bullet-size:30px;
.step__bullet {
    width: $bullet-size;
    height: $bullet-size;
    margin: 5px auto;
    background: #ccc;
    border-radius: 50%;
}

.step__name {
    text-transform: capitalize;
    @include mobile {
        display: none;
    }
}

.done {
    .step__bullet {
        border: 6px solid green;
    }
}

.current {
    .step__bullet {
        border: 6px solid green;
    }
}
