<h1>
    Esri JSAPI with
    <a href="https://github.com/tomwayson/angular2-esri-loader" target="_blank">
          <code>angular2-esri-loader</code>
        </a>
</h1>
<div #mapViewNode>
    <div id="sidebar">
        <div id="text">
          <h1>Liberty Island</h1>
          <p>Note that setting the view.padding makes the view.center, view.extent etc
            work off a subsection of the full view.</p>
          <p>Try to resize the window to get a better understanding.</p>
        </div>
      </div>
  
</div>
