@font-face {
    font-family: dinregular;
    src: url(./fonts/dinbold-webfont.eot);
    src: url(./fonts/dinbold-webfont.eot?#iefix) format("embedded-opentype"), url(./fonts/dinbold-webfont.woff2) format("woff2"), url(./fonts/dinbold-webfont.woff) format("woff"), url(./fonts/dinbold-webfont.ttf) format("truetype"), url(./fonts/dinbold-webfont.svg#dinregular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: dinmedium;
    src: url(./fonts/dinmedium-webfont.eot);
    src: url(./fonts/dinmedium-webfont.eot?#iefix) format("embedded-opentype"), url(./fonts/dinmedium-webfont.woff2) format("woff2"), url(./fonts/dinmedium-webfont.woff) format("woff"), url(./fonts/dinmedium-webfont.ttf) format("truetype"), url(./fonts/dinmedium-webfont.svg#dinmedium) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: dinregular;
    src: url(./fonts/dinregular-webfont.eot);
    src: url(./fonts/dinregular-webfont.eot?#iefix) format("embedded-opentype"), url(./fonts/dinregular-webfont.woff2) format("woff2"), url(./fonts/dinregular-webfont.woff) format("woff"), url(./fonts/dinregular-webfont.ttf) format("truetype"), url(./fonts/dinregular-webfont.svg#dinregular) format("svg");
    font-weight: 400;
    font-style: normal
}