#image{
    height: 600px;
    background-image: url("https://cdn.pixabay.com/photo/2017/01/10/07/11/blood-1968458_960_720.png");
    background-repeat: no-repeat;
    background-position: center; 
    
}