<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="hide()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Donor Info</h4>
      </div>


      <div class="modal-body">
          <donor-form (submitted)="onSubmit($event)"></donor-form>
      </div>



    </div>
  </div>
</div>