<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" href="#">Rescue</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
    </div>
    <img *ngIf="isConnected()" class="connectionStatus pull-right" src="assets/images/connected.png" alt="">
    <img *ngIf="!isConnected()" class="connectionStatus pull-right" src="assets/images/not_connected.jpg" alt="">

</nav>
