        <form *ngIf="!member()" #form="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter name" [(ngModel)]="name" required>
                <small id="emailHelp" class="form-text text-muted">Go on man. Why are you scared?</small>
            </div>
            <button type="submit" [disabled]="!form.valid"  class="btn btn-primary" (click)="join(name)">Join</button>
            <a routerLink='/speaker' class="btn">Join as a speaker</a>
            <a routerLink='/board' class="btn">Go to the board</a>
        </form>
        <div *ngIf="member()">
                <h2>Welcome {{member().name}}</h2>
                <small class="form-text text-muted">Questions would appear here</small>
        </div>
        <div *ngIf="audience && member()">
            <h2>Current Audience</h2>
               <ul class="list-group">
                   <li class="list-group-item" *ngFor="let item of audience">{{item.name}}</li>
               </ul>
                